<?xml version="1.0"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro" name="amiga">

<xacro:macro name="amiga_macro" params="amiga_prefix:='amiga__' amiga_parent:='world' mesh_base_path">
    <!-- ================== -->
    <!--     Amiga Macro    -->
    <!-- ================== -->
    <material name="LightLightGrey">
        <color rgba="0.941 0.941 0.941 1.0"/>
    </material>
    <xacro:property name="amiga_mass" value="40.0"/>
    <xacro:property name="amiga_collision_box0_x" value='1.132'/>
    <xacro:property name="amiga_collision_box0_y" value='0.800'/>
    <xacro:property name="amiga_collision_box0_z" value='0.99810607'/>
    <xacro:property name="amiga_collision_box1_x" value='${amiga_collision_box0_x}' />
    <xacro:property name="amiga_collision_box1_y" value='0.6' />
    <xacro:property name="amiga_collision_box1_z" value='0.2' />
    <xacro:property name="amiga_collision_box2_x" value='0.25' />
    <xacro:property name="amiga_collision_box2_y" value='0.25' />
    <xacro:property name="amiga_collision_box2_z" value='0.25' />

    <xacro:property name="amiga_tool0_mount_rotation" value="0.0 0.0 ${pi / 4}"/>
    <xacro:property name="amiga_tool0_mount_position" value="-0.095 0.306 1.04775"/>

    <!-- ================== -->
    <!--       Links        -->
    <!-- ================== -->
    <link name="${amiga_prefix}base"/>

    <link name="${amiga_prefix}body">
        <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="${mesh_base_path}base_mounts/frame_on_amiga_v2_simplified.stl"/>
            </geometry>
            <material name="LightLightGrey"/>
        </visual>
        <!-- Linear Rail -->
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.29845 0.97"/>
            <geometry>
                <box size="1.2 0.2 0.15"/>
            </geometry>
        </collision>
        <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.29845 0.97"/>
            <geometry>
                <box size="1.2 0.2 0.15"/>
            </geometry>
        </visual>
        <!-- Mast -->
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="0.57 -0.15 1.03"/>
            <geometry>
                <box size="0.07 0.07 0.95"/>
            </geometry>
        </collision>
        <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0.57 -0.15 1.03"/>
            <geometry>
                <box size="0.07 0.07 0.95"/>
            </geometry>
        </visual>
        <!-- GPS & Oak cameras -->
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="0.57 -0.15 1.6"/>
            <geometry>
                <box size="0.15 0.2 0.2"/>
            </geometry>
        </collision>
        <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0.57 -0.15 1.6"/>
            <geometry>
                <box size="0.15 0.2 0.2"/>
            </geometry>
        </visual>
        <!-- Amiga Brain -->
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="0.57 -0.315 1.25"/>
            <geometry>
                <box size="0.29 0.2 0.175"/>
            </geometry>
        </collision>
        <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0.57 -0.315 1.25"/>
            <geometry>
                <box size="0.29 0.2 0.175"/>
            </geometry>
        </visual>
        <!-- Base -->
        <collision>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="${mesh_base_path}base_mounts/frame_on_amiga_v2_simplified.stl"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <mass value="${amiga_mass}"/>
            <inertia ixx="${1/12 * amiga_mass * (amiga_collision_box0_y**2 + amiga_collision_box0_z**2)}"
                     ixz="0.0" 
                     ixy="0.0"
                     iyy="${1/12 * amiga_mass * (amiga_collision_box0_x**2 + amiga_collision_box0_z**2)}"
                     iyz="0.0"
                     izz="${1/12 * amiga_mass * (amiga_collision_box0_y**2 + amiga_collision_box0_x**2)}"
            />
        </inertial>
    </link>

    <link name="${amiga_prefix}tool0"/>

    <!-- ================== -->
    <!--       Joints       -->
    <!-- ================== -->
    <joint name="${amiga_parent}--${amiga_prefix}base" type ="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="${amiga_parent}"/>
        <child link="${amiga_prefix}base"/>
    </joint>
    <joint name="${amiga_prefix}base--${amiga_prefix}body" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="${amiga_prefix}base"/>
        <child link="${amiga_prefix}body"/>
    </joint>
    <joint name="${amiga_prefix}body--${amiga_prefix}tool0" type="fixed">
        <origin rpy="${amiga_tool0_mount_rotation}" xyz="${amiga_tool0_mount_position}"/>
        <parent link="${amiga_prefix}body"/>
        <child link="${amiga_prefix}tool0"/>
    </joint>

</xacro:macro>

</robot>