<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg name)">

  <!-- keep the basics -->
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="ur_type" default="ur5e"/>  <!-- absorbs CLI arg; we won't pass it to ur_robot -->
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="headless_mode" default="false"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="script_filename" default=""/>
  <xacro:arg name="output_recipe_filename" default=""/>
  <xacro:arg name="input_recipe_filename" default=""/>
  <xacro:arg name="reverse_ip" default="0.0.0.0"/>
  <xacro:arg name="script_command_port" default="50004"/>
  <xacro:arg name="reverse_port" default="50001"/>
  <xacro:arg name="script_sender_port" default="50002"/>
  <xacro:arg name="trajectory_port" default="50003"/>
  <xacro:arg name="use_tool_communication" default="false"/>
  <xacro:arg name="tool_voltage" default="0"/>
  <xacro:arg name="tool_parity" default="0"/>
  <xacro:arg name="tool_baud_rate" default="115200"/>
  <xacro:arg name="tool_stop_bits" default="1"/>
  <xacro:arg name="tool_rx_idle_chars" default="1.5"/>
  <xacro:arg name="tool_tx_idle_chars" default="3.5"/>
  <xacro:arg name="tool_device_name" default="/tmp/ttyUR"/>
  <xacro:arg name="tool_tcp_port" default="54321"/>
  <xacro:arg name="use_fake_hardware" default="false"/> 
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="sim_ignition" default="false"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="initial_positions_file" default="$(find robot_custom_hardware)/config/initial_positions.yaml"/>
  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

  <!-- Amiga args -->
  <xacro:arg name="amiga_prefix" default="amiga__"/>

  <!-- Realsense args -->
  <xacro:arg name="use_nominal_extrinsics" default="true" />

  <!-- Define the four args with the names the UR macro expects -->
  <xacro:arg name="joint_limit_params" default="$(find robot_custom_hardware)/config/ur5e/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params"  default="$(find robot_custom_hardware)/config/ur5e/default_kinematics.yaml"/>
  <xacro:arg name="physical_params"    default="$(find robot_custom_hardware)/config/ur5e/physical_parameters.yaml"/>
  <xacro:arg name="visual_params"      default="$(find robot_custom_hardware)/config/ur5e/visual_parameters.yaml"/>

  <!-- includes -->
  <xacro:include filename="$(find robot_custom_hardware)/urdf/amiga.urdf.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robot_custom_hardware)/urdf/gripper.urdf.xacro"/>
  <xacro:include filename="$(find robot_custom_hardware)/urdf/_d435i.urdf.xacro"/>

  <!-- define world exactly once -->
  <link name="world"/>

  <!-- Instantiate Amiga, attached to world. 
       NOTE: your amiga macro signature requires mesh_base_path -->
  <xacro:property name="robot_custom_hardware" value="package://robot_custom_hardware/"/>
  <xacro:amiga_macro amiga_prefix="$(arg amiga_prefix)" amiga_parent="world" mesh_base_path="package://robot_custom_hardware/meshes/"/>

  <!-- UR5e arm -->
  <xacro:ur_robot
      name="$(arg name)"
      tf_prefix="$(arg tf_prefix)"
      parent="$(arg amiga_prefix)tool0"

      joint_limits_parameters_file="$(arg joint_limit_params)"
      kinematics_parameters_file ="$(arg kinematics_params)"
      physical_parameters_file   ="$(arg physical_params)"
      visual_parameters_file     ="$(arg visual_params)"

      transmission_hw_interface="$(arg transmission_hw_interface)"
      safety_limits="$(arg safety_limits)"
      safety_pos_margin="$(arg safety_pos_margin)"
      safety_k_position="$(arg safety_k_position)"
      use_fake_hardware="$(arg use_fake_hardware)"
      fake_sensor_commands="$(arg fake_sensor_commands)"
      sim_gazebo ="$(arg sim_gazebo)"
      sim_ignition ="$(arg sim_ignition)"
      headless_mode="$(arg headless_mode)"
      initial_positions="${xacro.load_yaml(initial_positions_file)}"
      use_tool_communication="$(arg use_tool_communication)"
      tool_voltage="$(arg tool_voltage)"
      tool_parity="$(arg tool_parity)"
      tool_baud_rate="$(arg tool_baud_rate)"
      tool_stop_bits="$(arg tool_stop_bits)"
      tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
      tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
      tool_device_name="$(arg tool_device_name)"
      tool_tcp_port="$(arg tool_tcp_port)"
      robot_ip="$(arg robot_ip)"
      script_filename="$(arg script_filename)"
      output_recipe_filename="$(arg output_recipe_filename)"
      input_recipe_filename="$(arg input_recipe_filename)"
      reverse_ip="$(arg reverse_ip)"
      script_command_port="$(arg script_command_port)"
      reverse_port="$(arg reverse_port)"
      script_sender_port="$(arg script_sender_port)"
      trajectory_port="$(arg trajectory_port)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- mount gripper -->
  <joint name="gripper_joint" type="fixed">
    <parent link="tool0"/>
    <child  link="gripper_link"/>
    <origin xyz="0.00 0.00 0.215" rpy="0 0 0"/>
  </joint>

  <xacro:gripper_macro/>

  <!-- MAST Realsense for apple locations -->
  <xacro:sensor_d435i 
    parent="$(arg amiga_prefix)base" 
    prefix="mast_"
    use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <!-- <origin xyz="0.4064 -0.1778 1.5113" rpy="0 0 1.8852"/> --> <!-- Manually measured position and orientation -->
    <!-- <origin xyz="0.40948 -0.1881 1.5105" rpy="-0.013 0.033 1.907"/> Measured position and orientation with UR5e (with trailing values on roll and pitch -->
    <!-- <origin xyz="0.40948 -0.1881 1.5105" rpy="0 0 1.907"/> Measured position and orientation with UR5e -->
    <!-- <origin xyz="0.36566724 -0.17676987  1.52188824" rpy="-0.013000935978729311 0.03299973035765147 1.906999859790441"/> Calibrated from vision -->
    <origin xyz=" 0.36916121 -0.17930941  1.534915" rpy="0 0 1.907"/> 
  </xacro:sensor_d435i>

  <!-- Realsense for trunk detections -->
  <xacro:sensor_d435i 
    parent="$(arg amiga_prefix)base" 
    prefix="base_"
    use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0.0 0.3937 0.555625" rpy="0 0 1.57"/>
  </xacro:sensor_d435i>

  <!-- Tracking marker frame -->
  <joint name="tracking_marker_joint" type="fixed">
    <parent link="tool0"/>
    <child  link="tool0_tracking_marking_link"/>
    <origin xyz="0 0.12 0.037" rpy="0 0 0"/>
  </joint>
  <link name="tool0_tracking_marking_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.001"/>
      </geometry>
      <material name="marker_material">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

</robot>
