<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gripper_macro">

        <joint name="gripper_scups_joint" type="fixed">
            <parent link="gripper_link" />
            <child link="gripper_scups_link" />
            <origin xyz="0.00 0.00 -0.02" rpy="0 0 -2.618" />
        </joint>


        <link name="gripper_scups_link">
            <!-- <visual>
                <geometry>
                    <box size="0.01 0.01 0.01" />
                </geometry>
                <material name="green">
                    <color rgba="0 1 0 1" />
                </material>
            </visual> -->
        </link>


        <joint name="gripper_palm_camera_joint" type="fixed">
            <parent link="gripper_link" />
            <child link="gripper_palm_camera_optical_link" />
            <origin xyz="0.00 0 -0.05" rpy="0 0 0" />
        </joint>

        <joint name="gripper_top_camera_joint" type="fixed">
            <parent link="gripper_link" />
            <child link="gripper_top_camera_link" />
            <origin xyz="0.00 -.072 -0.0865" rpy="0 0 0" />
        </joint>

        <link name="gripper_top_camera_link">
        </link>

        <link name="gripper_palm_camera_optical_link">
            <!-- <visual>
                <geometry>
                    <box size="0.03 0.03 0.01" />
                </geometry>
                <material name="green">
                    <color rgba="0 1 0 1" />
                </material>
            </visual> -->
        </link>

        <xacro:sensor_d435i 
            parent="gripper_link" 
            prefix="gripper_"
            use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
             <!-- move out for collision problem in intial collision body stl -->
            <!-- <origin xyz="-0.09 -0.06 -0.00875" rpy="0.5236 -1.5708 0"/> -->
            <!-- Aligned with model -->
            <origin xyz="0.121651 -0.075874 -0.188703" rpy="2.618 -1.5708 0"/>
        </xacro:sensor_d435i>

        <link name="gripper_link">
            <collision>
                <origin xyz="0.00 0 -0.105" rpy="0 0 0" />
                <geometry>
                    <box size="0.12 0.12 0.2" />
                </geometry>
            </collision>
            <visual>
                <origin xyz="0.085 0 -0.2" rpy="0 0 3.14" />
                <geometry>
                    <mesh
                        filename="package://robot_custom_hardware/meshes/end_effectors/03_mk3_full_assembly_coarse.STL"
                        scale="0.001 0.001 0.001" />
                </geometry>
                <material name="ur5_blue">
                    <color rgba="0.45 0.62 0.9 1" />
                </material>
            </visual>
        </link>

    </xacro:macro>
</robot>