<?xml version="1.0"?>

<!--
This is the URDF model for the palm camera, currently an ELP High Speed USB Camera, 1080P.
1920 × 1080 (1080P): Up to 30 fps to 60 fps (MJPEG)
-->

<robot name="sensor_usb_palm" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i_imu_modules.urdf.xacro"/>

  <!-- Added prefix param -->
  <xacro:macro name="sensor_usb_palm" params="parent prefix:='' *origin name:=camera use_nominal_extrinsics:=true">

    <!-- Pass prefix to submodules -->
    <xacro:sensor_usb_palm parent="${parent}" name="${prefix}${name}" use_nominal_extrinsics="${use_nominal_extrinsics}">
      <xacro:insert_block name="origin" />
    </xacro:sensor_usb_palm>
  </xacro:macro>
</robot>
