<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gripper_macro">

        <joint name="gripper_scups_joint" type="fixed">
            <parent link="gripper_link" />
            <child link="gripper_scups_link" />
            <origin xyz="0.00 0.00 -0.02" rpy="0 0 -2.618" />
        </joint>


        <link name="gripper_scups_link">
            <visual>
                <geometry>
                    <box size="0.01 0.01 0.01" />
                </geometry>
                <material name="green">
                    <color rgba="0 1 0 1" />
                </material>
            </visual>
        </link>


        <joint name="gripper_palm_camera_joint" type="fixed">
            <parent link="gripper_link" />
            <child link="gripper_palm_camera_optical_link" />
            <origin xyz="0.00 0 -0.05" rpy="0 0 0" />
        </joint>

        <joint name="gripper_top_camera_joint" type="fixed">
            <parent link="gripper_link" />
            <child link="gripper_top_camera_link" />
            <origin xyz="0.00 -.072 -0.0865" rpy="0 0 0" />
            <!-- <origin xyz="0.009525 -.08255 -0.0445" rpy="0 0 0"/> -->
        </joint>

        <link name="gripper_top_camera_link">
            <!-- <collision>
            <geometry>
                <box size="0.08 0.05 0.01"/>
            </geometry>
        </collision> -->
        </link>

        <link name="gripper_palm_camera_optical_link">
            <visual>
                <geometry>
                    <box size="0.03 0.03 0.01" />
                </geometry>
                <material name="green">
                    <color rgba="0 1 0 1" />
                </material>
            </visual>
        </link>

        <link name="gripper_link">
            <collision>
                <origin xyz="0.00 0 -0.105" rpy="0 0 0" />
                <geometry>
                    <box size="0.12 0.12 0.2" />
                </geometry>
            </collision>
            <visual>
                <origin xyz="0.085 0 -0.2" rpy="0 0 3.14" />
                <geometry>
                    <mesh
                        filename="package://ur5e_custom_hardware/meshes/03_mk3_full_assembly_coarse.STL"
                        scale="0.001 0.001 0.001" />
                </geometry>
                <material name="ur5_blue">
                    <color rgba="0.45 0.62 0.9 1" />
                </material>
            </visual>
        </link>

        <joint name="camera_joint" type="fixed">
            <!-- <parent link="gripper_link" /> -->
            <parent link="base_link" />
            <child link="camera_link" />
            <!-- <origin xyz="0.00 0.00 0.5" rpy="0 0 0" /> -->
            <origin xyz="0.00 -0.1 0.5" rpy="-1.57079 0 0" />
        </joint>

        <link name="camera_link">
            <!-- <visual>
                <geometry>
                    <box size="0.03 0.03 0.01" />
                </geometry>
                <material name="green">
                    <color rgba="0 1 0 1" />
                </material>
            </visual> -->
        </link>

        <!-- <xacro:arg name="use_nominal_extrinsics" default="false" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>
    <xacro:sensor_d435i parent="gripper_top_camera_link" use_nominal_extrinsics="$(arg
        use_nominal_extrinsics)">
      <origin xyz="0 0 -0.5" rpy="0 -1.571 1.571"/>
    </xacro:sensor_d435i> -->

    </xacro:macro>
</robot>